<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Insta Clone</h1>
    <p>Try visiting <a href="/cats">/cats</a> or <a href="/dogs">/dogs</a></p>
</body>
</html>

