<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post id:</p>
    <p>post username:</p>
    <form>
        <textarea placeholder="Write Your Post" name="content" required></textarea><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>